* {
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #303030;
  background-color: #FCFCED;
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
}

h1 {
  color: #323C92;
  font-size: 22px;
  font-weight: 100;
  text-align: center;
  letter-spacing: 2px;
  line-height: 140%;
  text-decoration: underline wavy #323C92;
  margin-bottom: 24px;
}

ul {
  font-size: 20px;
  list-style-type: none;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
  line-height: 40px;
}

li.logo {
  padding: 8px;
  margin-right: auto;
}

ul a {
  color: inherit;
  text-decoration: none;
  font-size: 0.875rem;
}

.anchor a {
  text-decoration: none;
  line-height: 40px;
  margin-bottom: 40px;
}

li.animate__animated {
  animation-duration: 3s;
}

p {
  padding: 4px;
}

label {
  font-size: 14px;
}

#cursorText{
  position:absolute;
  border:1px solid #323C92;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 4px;
  position: relative;
  overflow: hidden;
  padding: 8px;
}

img {
  width: 95%;
  margin: 8px;
  border-radius: 4px;
  object-fit: cover;
  position: relative;
}

img:hover {
  cursor: crosshair;
  transform: scale(1.02);
  transition: all .2s;
}

.triangle {
  transform: translate3d(-25.1232px, 5.85023px, 0px) rotate(40deg);
  position: absolute;
  top: 200px;
  right: -300px;
  width: 375px;
  height: 375px;
  z-index: -1;
  background-color: #323C92;
  mix-blend-mode: multiply;
}

.circle {
  transform: translate3d(-12.5616px, 2.92512px, 0px) rotate(0deg);
  position: absolute;
  top: 50px;
  right: -150px;
  width: 250px;
  height: 250px;
  z-index: -2;
  background-color: orangered;
  border-radius: 100%;
}

footer {
  margin: 24px 0;
  display: flex;
  justify-content: center;
}

.water {
  position: relative;
  max-width: 95%;
  height: 500px;
  margin: 12px auto;
  background-image: linear-gradient(0deg, #182848, #323C92);
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text {
  padding-top: 40px;
  color: white;
}

/* WAVES */
.waves {
  position: relative;
  width: 100%;
  height: 160px;
  border-radius: 8px;
}

.parallax > use {
  animation: move-forever 10s cubic-bezier(.55,.5,.45,.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 20s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 30s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 25s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 35s;
}

@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% {
    transform: translate3d(85px,0,0);
  }
}

/* MEDIA QUERIES */
@media (max-width: 640px) {
  body {
    background-color: orangered;
  }

  ul {
    display: block;
    line-height: 24px;
  }

  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .waves {
    height: 200px;
    min-height: 40px;
  }
}
