* {
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #303030;
  background-color: #FCFCED;
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
}

/* PRELOADER */
.preloader {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #323C92;
  transition: opacity 0.75s, visibility 0.75s;
}

.preloader-hidden {
  opacity: 0;
  visibility: hidden;
}

.preloader::after {
  content: "";
  width: 50px;
  height: 50px;
  border: 8px solid white;
  border-top-color: #293180;
  border-radius: 50%;
  animation: loading 2s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

/* TYPOGRAPHY */
h2::selection, label::selection, p::selection, a::selection, h1::selection, span::selection {
  color: #FCFCED;
  background: #323C92;
}

h1 {
  color: #323C92;
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
  line-height: 140%;
  text-decoration: underline wavy #323C92;
  margin-bottom: 24px;
}

h1 span {
  font-weight: 500;
}

h2 {
  margin: 32px;
  font-size: 40px;
}

ul {
  font-size: 20px;
  list-style-type: none;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
  line-height: 40px;
}

li.logo {
  padding: 8px;
  margin-right: auto;
}

a:visited, a:active, a:link {
  color: #303030;
}

a:hover {
  font-weight: 700;
}

ul a {
  color: inherit;
  text-decoration: none;
  font-size: 0.875rem;
}

.anchor a {
  text-decoration: none;
  line-height: 40px;
  margin-bottom: 40px;
  cursor: pointer;
}

li.animate__animated {
  animation-duration: 3s;
}

/* GENERAL ELEMENTS */
p {
  padding: 4px;
}

label {
  font-size: 14px;
  cursor: text;
  line-height: 32px;
}

#cursorText {
  position:absolute;
  border:1px solid #323C92;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 4px;
  position: relative;
  overflow: hidden;
  padding: 8px;
}

.item img {
  width: 95%;
  margin: 8px;
  border-radius: 4px;
  object-fit: cover;
  position: relative;
}

.item img:hover {
  cursor: crosshair;
  transform: scale(1.02);
  transition: all .2s;
}

footer {
  margin: 24px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.water {
  position: relative;
  max-width: 95%;
  height: 500px;
  margin: 32px auto;
  background-image: linear-gradient(0deg, #182848, #323C92);
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text {
  padding-top: 40px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.6;
}

.text p {
  margin: 0 40px;
}

.text img {
  margin-top: 40px;
  width: 80px;
}

div.item {
  margin-bottom: 40px;
}

#logo-lw {
  width: 120px;
  cursor: pointer;
}

/* SHAPES */
#triangle {
  transform: translate3d(-25.1232px, 5.85023px, 0px) rotate(40deg);
  position: absolute;
  top: 200px;
  right: -300px;
  width: 375px;
  height: 375px;
  z-index: -1;
  background-color: #323C92;
  mix-blend-mode: multiply;
}

#circle {
  transform: translate3d(-12.5616px, 2.92512px, 0px) rotate(0deg);
  position: absolute;
  top: 50px;
  right: -150px;
  width: 250px;
  height: 250px;
  z-index: -2;
  background-color: orangered;
  border-radius: 100%;
}

#shape {
  border-radius: 50%;
  box-shadow: 15px 15px 0 0 orangered;
  position: absolute;
  bottom: 400px;
  left: -200px;
  width: 375px;
  height: 375px;
  z-index: -3;
  background-color: #323C92;
  mix-blend-mode: multiply;
}

/* WAVES */
.waves {
  position: relative;
  width: 100%;
  height: 160px;
  border-radius: 32px;
}

.parallax > use {
  animation: move-forever 10s cubic-bezier(.55,.5,.45,.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 20s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 30s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 25s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 35s;
}

@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% {
    transform: translate3d(85px,0,0);
  }
}

/* SEARCH */
#search-form {
  margin-bottom: 16px;
}

#search-input {
  width: 300px;
  padding: 14px;
  border-radius: 8px;
  font-size: 16px;
  border: 2px solid lightgrey;
}

#search-input:focus {
  border: 2px solid #323C92;
}

#search-btn {
  padding: 16px;
  background-color: #323C92;
  color: #FCFCED;
  border: 0;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

#search-btn:hover {
  background-color: #293180;
}

#search-results {
  list-style-type: none;
  padding: 0;
}

#search-results li {
  margin-bottom: 5px;
}

/* MEDIA QUERIES */
@media (max-width: 640px) {
  body {
    padding: 0;
  }

  ul {
    display: block;
    line-height: 24px;
  }

  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .waves {
    height: 200px;
    min-height: 40px;
  }

  .text h2 {
    font-size: 28px;
    margin: 12px;
  }

  .text img {
    margin: 0;
  }
}
