* {
  margin: 0;
}
body {
  color: rgb(48, 48, 48);
  background-color: rgb(252, 252, 237);
  text-align: center;
  margin: 0 8px;
  font-family: 'Fira Sans', sans-serif;
}
header {
  margin-top: 24px;
}
section {
  background-color: white;
  padding: 16px;
}
h1 {
  color: rgb(54, 60, 146);
  font-size: 32px;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: underline wavy rgb(54, 60, 146);
  margin-bottom: 24px;
}
h2 {
  font-size: 18px;
  letter-spacing: 1px;
  opacity: 90%;
  margin: 16px 0;
}
h3 {
  font-size: 18px;
  text-align: left;
  margin-bottom: 8px;
  letter-spacing: 0.25px;
}
h4 {
  font-size: 10px;
  font-weight: 100;
}
h5 {
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 16px;
  letter-spacing: 2px;
}
p {
  font-size: 14px;
  text-align: left;
  letter-spacing: 0.25px;
  font-weight: 400;
}
span {
  opacity: 70%;
  font-size: 0.9em;
  font-style: italic;
}
ul {
  list-style: none;
  padding-left: 0;
}
img {
  width: 180px;
  border-radius: 4px;
  margin-left: auto;
  object-fit: cover;
}
hr {
  opacity: 10%;
  margin: 24px 0;
}
.item {
  display: flex;
  align-items: center;
}
.descricao {
  margin-right: 8px;
}
.botao {
  text-decoration: none;
  background-color: #32eb6f;
  padding: 10px 15px;
}
.separador {
  height: 1px;
  background-image:
      radial-gradient( circle farthest-corner at 10% 20%,
      rgba(237,3,32,0.87) 20.8%,
      rgba(242,121,1,0.84) 74.4% );
  margin-bottom: 40px;
}
